:root {
  --dm-sans:'DM Sans', sans-serif;
  --inter:'Inter', sans-serif;
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(208.83deg, var(--black) 16.69%,
  var(--bitcoin-orange) 100%);
}
header h1 {
  font-size: 2.2rem;
  color: var(--just-white);
  margin: 1.0rem;
}
header .main-container-pic .text {
  color: var(--just-white);
  text-decoration: none;
  font-size: 1.6rem;
  margin: 1.4rem;
}
header .main-container-pic {
  /* display: flex; */
}
header .main-container-pic a {
  display: block;
  text-decoration: none;
  margin-top: 1.5rem;
  padding: 1.0rem;
  font-size: 1.6rem;
  background-color: var(--off-white);
  position: absolute;
  width: 200px;
  top: 300px;
  box-shadow: 0px 2px 4px rgba(27, 24, 24,0.16);
  border: none;
  border-radius: 5px;
}